@font-face {
  font-family: "Font1";
  src: url("./public/font1.woff2") format("woff2");
}
@font-face {
  font-family: "Font2";
  src: url("./public/font2.woff2") format("woff2");
}
@font-face {
  font-family: "Font3";
  src: url("./public/font3.woff2") format("woff2");
}
body,
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Font1 {
  font-family: "Font1";
}
.Font2 {
  font-family: "Font2";
}
.Font3 {
  font-family: "Font3";
  font-size: max(4vw, 40px);
}
:root {
  --color-primary: #d7ff00;
}
.headtext {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  margin: auto;
  > div {
    position: absolute;
    bottom: -50%;
    left: 100%;
    border-radius: 100%;
    transform-origin: center;
    width: 100%;
    scale: 10;
    height: 100%;

    background-color: white;
  }
}

#page1 {
  width: 100vw;
  min-height: 110vh;
  display: grid;
  place-items: center;

  > div {
    text-align: center;
    text-transform: uppercase;
    font-size: max(80px, 9vw);
    > div {
      width: 120px;
      height: 100px;

      display: inline-block;
      > img {
        position: absolute;
        transform: skewX(-10deg) translateX(-50%);
        width: 120px;
        height:100px;
        object-fit: cover;
        z-index: -1;
      }
    }
  }
}
#page3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  width: 100vw;

  > div {
    width: 50vw;
  }

  > div img {
    width: 100%;

    max-height: 100vh;
  }
}

#page4 {
  width: 100vw;
  text-align: center;
  padding: 40px 0px;
  font-family: "Font3";

  > h1 {
    text-transform: uppercase;

    font-weight: 500;
    font-size: max(5vw, 44px);
    line-height: max(35px, 5vw);
    margin-top: 20px;
  }
}
.help-card {
  display: grid;
  transform-origin: top;
  transform: scaleY(0);
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
  grid-row: 1;
  padding: 10px 50px 10px 10px;
  align-items: center;
  position: relative;
  > span {
    column-span: 1/3;
    width: 100%;
    font-size: max(3vw, 30px);
  }
}

.help-detail {
  text-align: left;
  margin-left: auto;
  grid-column: 8/12;
  width: 100%;

  > p {
    font-family: "Font1";
  }
}
.help-top {
  width: 90%;
  left: 3%;
  transform-origin: center;
  scale: 0% 100%;
  height: 1.7px;
  position: absolute;
  top: 0px;
  background-color: #7f7f7f;
}


#page5 {
  width: 100vw;
  height: 100vh;
  background: center url(./public/page4_bg.webp);
  background-attachment: fixed;
  position: relative;
  display: grid;
  place-items: center;
}
.stickybar {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  background: var(--color-primary); /* optional for readability */
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > p {
    font-size: 1.1rem;
    font-family: "Font1";
    text-align: left;
  }
  > a {
    text-decoration: none;
    color: black;
    font-family: "Font2";
    text-transform: uppercase;
    display: flex;
    gap: 4px;
    font-size: 14px;
    align-items: center;
    outline-style: none;
  }
  > a :nth-child(1) {
    display: inline-block;
    
    width: 16px;
    transform: skew(-10deg);
    height: 16px;
    background-color: black;
    transition: all 0.3s;
  }
  &:hover > a div {
    width: 40px;
  }
}


@media (max-width: 700px) {
  .help-card {
    grid-template-columns: repeat(6, 1fr);
  }
  .help-detail {
    grid-column: 4/6;
  }
  #page3 {
    gap: 20px;

    > div {
      width: 100vw;
    }
    &:first-child {
      height: 50vh;
    }
  }

}

@media (max-width:490px) {
  .stickybar{
 max-width: 220px;

  }  
}